Overlay/GAME_LOGO
{
    zorder 100
	container Panel(container2)
	{
		metrics_mode pixels
		horz_align left
		vert_align top
		top 0
		left 0
		width 1028
		height 42
		material GAME_LOGO
	}
}
