Overlay/HP_7
{
    zorder 150
	container Panel(HP_7
	{
		metrics_mode pixels
		horz_align right
		vert_align bottom
		top -68
		left -60
		width 40
		height 55
		material IMAGE_NUM_7
	}
}
