Overlay/MAIN_IMAGE
{
    zorder 100
	container Panel(container4)
	{
		metrics_mode pixels
		horz_align left
		vert_align top
		top 0
		left 0
		width 1028
		height 800
		material MAIN_IMAGE
	}
}
